body {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(assets/bg.jfif);
  color: white;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannier{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

img {
  max-width: 100%;
}

p {
<<<<<<< HEAD
    text-align: center;
    font-size: 25px;
    font-weight: bold;
=======
  text-align: center;
  font-size: 30px;
  font-weight: bold;
>>>>>>> dd7d95788e2c18b518705cb130f68dc2c0dd7d04
}

.time{
  font-size: 25px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
<<<<<<< HEAD
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #f7a67e;
    color: white;
=======
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
>>>>>>> dd7d95788e2c18b518705cb130f68dc2c0dd7d04
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url(assets/logo1_1.png);
  background-position: center center;
  background-size: 90%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
}

.card .front {
  transform: rotateY(180deg);
}
/**modal**/
#modal {
  position: absolute;
  background-color: #27ae60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}
.showModal {
  display: flex;
}
